.icon {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.input {
  border: none;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.12);
  display: block;
  flex: 1;
  font: 400 16px/1 Lato, sans-serif;
  height: 52px;
  padding: 0 48px 0 16px;
  width: 100%;
}

.root {
  position: relative;
}
