/*
 * This file contains a mix of resets and base theming. Consider separating in future.
 */

@font-face {
  font-family: Lato;
  font-weight: 400;
  src:
    url("common/fonts/latoRegular.woff2") format("woff2"),
    url("common/fonts/latoRegular.woff") format("woff"),
    url("common/fonts/latoRegular.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}

::placeholder {
  color: #B0B0B0;
}

h1,
h2,
h3,
h4,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-size: inherit;
}

body {
  background-color: #FAFAFA;
  color: #5B5B5B;
  margin: 0;
  overflow-y: scroll;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

button:focus {
  outline: none;
}

input {
  color: #5B5B5B;
}

input:focus {
  outline: none;
}

li {
  display: block;
}
